.top {
  width: 217px;
}

@media (max-width: 1366px) {
  .welcome {
    width: 100%;
  }
  .top {
    visibility: collapse;
    width: 100%;
    margin-bottom: -300px !important;
  }
  .middle {
    margin-top: 10px;
    width: 100%;
    margin-left: 0px !important;
  }
}
