.my_card {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.2) !important;
}
@media (min-width: 900px) {
  .bp {
    position: absolute;
    z-index: 12;
    bottom: 0;
    right: 0;
    visibility: hidden;
  }
}

@media (max-width: 900px) {
  .result-table {
    margin-top: -50px !important;
    margin-bottom: -200px !important;
    margin-left: 0px !important;
  }
  .result-table table {
    margin-bottom: 0px !important;
  }
  .result-table h1 {
    margin-top: 0px;
  }
  .go-back {
    visibility: hidden;
  }
  .my_card {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.2) !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .profile_card {
    padding: 0px !important;
    margin-top: 60px !important;
    overflow-x: hidden;
  }
  .profile_card span {
    position: absolute;
    z-index: 12;
    top: 0;
    left: 0;
    visibility: hidden;
  }

  .apply {
    position: absolute;
    z-index: 12;
    top: 0;
    left: 0;
    visibility: hidden;
  }

  .result-text {
    margin-top: 50px !important;
  }
  .signup_card {
    margin-top: 50px !important;
    overflow-x: hidden !important;
  }

  .list_card {
    padding: 0 !important;
  }

  .result_card {
    overflow-x: hidden !important;
  }

  .main_card {
    flex: none;
  }
  .delete_icon {
    color: "red";
  }

  .np {
    position: absolute;
    z-index: 12;
    bottom: 0;
    right: 0;
    visibility: hidden;
  }
}
